<div class ='form'>
  <h2> <%= "#{t('home.welcome')} #{current_user.name_display}" %></h2></br>

  <%= link_to(t(:edit), edit_user_registration_path, :class => 'button') %>
  <%= link_to(t(:logout), destroy_user_session_path, :method => :delete, :class => 'button delete') %></br></br>

  <h3> <%= t('home.online_users') %> (<%= @online_users.size %>)</h3>
  <ul>
  <% @online_users.each do |user| %>
    <% next if user == current_user %>
    <li><%= user.name_display %></li>
  <% end -%>
  </ul>
</div>
