<div class="login-page">
  <div class="form">
    <h3> <%= t(:signup) %> </h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.email_field(:email, :placeholder => t('user.email'), autofocus: true, :class => 'input') %>

      <%= f.password_field(:password, autocomplete: "off", :placeholder => t('user.password'), :class => 'input') %>
      <%= f.password_field(:password_confirmation, autocomplete: "off", :placeholder => t('user.password_confirmation')) %>

      <%= f.submit(t(:signup), :class => 'button') %>

      <p class="message">Already registered?
        <%= link_to(t('login'), new_session_path(resource_name)) %><br />
      </p>
    <% end -%>
  </div>
</div>
